<p id="notice"><%= notice %></p>

<h1>Schedule of Room No. <%= @room_detail.room_no %> at <%= @room_detail.building %></h1>

<table>
  <thead>
  <tr>

    <th>User Name</th>
    <th>From</th>
    <th>To</th>
  </tr>
  </thead>

  <tbody>
  <% @booking_detail.each do |booking| %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.from_time %></td>
        <td><%= booking.to_time %></td>
        <% if booking.from_time > Time.now.to_datetime and session[:user_type] != 'member'%>
            <td><%= link_to 'Edit', {:controller => 'bookings', :action => 'edit_booking', :id => booking.id} %></td>
            <td><%= link_to 'Delete', {:controller => 'bookings', :action => 'destroy', :id => booking.id}, method: :delete %></td>
            <!--td><!--%= link_to 'Destroy', booking.id.to_s, controller: 'bookings', method: :delete, data: { confirm: 'Are you sure?' } %></td-->
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', '/admin/index' %>
