<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
  <tr>

    <th>User Name</th>
    <th>From</th>
    <th>To</th>
  </tr>
  </thead>

  <tbody>
  <% @booking_detail.each do |booking| %>
      <tr>
        <td><%= booking.user_name %></td>
        <td><%= booking.from %></td>
        <td><%= booking.to %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
