<%= form_tag action: find_rooms do %>
    <div class="field">
      <%= form_tag.label 'Select Building:'%>
      <%= form_tag.select :building, [['D. H. Hill','d h hill'],['James B. Hunt','james b hunt']] %>
    </div>

    <div class="field">
      <%= form_tag.label :from_time %>
      <%= form_tag.datetime_select :from_time %>
    </div>

    <div class="field">
      <%= form_tag.label :to_time %>
      <%= form_tag.datetime_select :to_time %>
    </div>

    <div class="actions">
      <%= form_tag.submit 'Select Room' %>
    </div>
<% end %>