<p id="notice"><%= notice %></p>
<h1>Log In</h1>
<div>
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <fieldset>
        <legend>Please log in</legend>
        <div>
          <%= label_tag :email_id, 'Email id' %>
          <%= text_field_tag :email_id, params[:email_id] %>
          <%= label_tag :password, 'Password' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag 'Login' %>
        </div>
      </fieldset>
  <% end %>
  <%= form_tag controller: 'users', action: 'sign_up_member' do %>
    <%= submit_tag 'Sign up' %>
  <% end %>

</div>
