<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>User type</th>
        <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @admins.each do |admin| %>
    <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email_id %></td>
        <td><%= admin.user_type %></td>
        <% if admin.email_id != session[:email_id] %>
          <td><%=  link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
    <tr>
        <td><%= @sadmin.name %></td>
        <td><%= @sadmin.email_id %></td>
        <td><%= @sadmin.user_type %></td>
    </tr>
    </tbody>
</table>

<br>

<%= link_to 'Home', '/admin/index' %>